:root {
  /* 第一基础底色 */
  --fh2-basic-bg-color: #232323;
  --fh2-sub-bg-color: #282828;

  /* 按钮、卡片 亮色 */
  --fh2-primary-color: #2d8cf0;
  --fh2-primary-hover-color: #5cadff;
  --fh2-primary-focus-color: #2b85e4;
  --fh2-primary-disabled-color: #274d75;

  /* 大面积的选中态，增加透明度 */
  --fh2-list-primary-active-color: rgba(45, 140, 240, 0.4);
  --fh2-list-primary-hover-color: rgba(92, 173, 255, 0.4);

  /* 按钮、卡片非亮色 */
  --fh2-sub-primary-color: #3c3c3c;
  /* 非亮色 hover 颜色 */
  --fh2-sub-primary-hover-color: #5d5f61;

  /* 弹窗内容色 */
  --fh2-model-content-bg-color: #1c1c1c;

  /* input */
  --fh2-input-highlight-color: #101010;
  --fh2-input-border-color: #4f4f4f;
}
